:root {
    --background-color: #000;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;

    font-family: "Montserrat", sans-serif;
}

#container {
    width: 100vw;
    height: 80vh;

    background-color: var(--background-color);

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 54px;
}

#controls {
    width: 100vw;
    height: 20vh;

    padding-left: 10px;
    padding-bottom: 10px;

    background-color: var(--background-color);
    color: #fff;
    font-weight: bold;
    font-size: 18px;

    display: flex;
    flex-direction: column-reverse;
    justify-content: end;
}

#text_box {
    color: #fff;
}
